html{
    font-size: 62.5%;
    /* 1 rem = 10px */
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url(../images/bg-desktop.svg) center no-repeat;
    background-size: cover;
    background-color: var(--violet-color);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

img{
    width: 100%;
}

/* HEADER */

.header .logo{
    width: 200px;
    padding: 4rem 7rem;
}

/* MAIN */

.main{
    margin: 2.5rem auto 0;
    max-width: 90%;
    display:grid ;
    grid-template-columns: repeat(2, 1fr);
}

.main .image .mockup{
    max-width: 100%;
}

.main .info{
    color: #fff;
    padding: 5rem 0 0 5rem;
}

.main .heading{
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    font-weight: 600;
}

.main p{
    font-size: 2rem;
    margin: 3rem 0;
}

.main .btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    padding: 1rem 7rem;
    background-color: #fff;
    border-radius: 4rem;
    color: var(--violet-color);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;
}

.main .btn:hover{
    background-color: var(--pink-color);
    color: #fff;
    cursor: pointer;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer ul{
    padding: 1rem 5rem;
    display: flex;
    font-size: 2rem;
    gap: 2.5rem;
}

.footer a{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: 2px solid;
    border-radius: 50%;
}

.footer a:hover{
    color: var(--pink-color);
}